* {
    margin: 0;
    padding: 0;
}

body {
    color: white;
}

header {
    font-size: 150%;
}

main {
    height: 73vh;
    color: black;
    text-align: center;
    font-size: 300%;
}

footer {
    display: flex;
    justify-content: center;
    padding: 40px;
    background-color: #2D3142;
}
