:root {
  --primary: 68, 200, 68;
  --primary-shade: 48, 160, 48;

  --bs-primary-rgb: var(--primary);

  .btn-primary {
    --bs-btn-bg: rgb(var(--primary));
    --bs-btn-border-color: rgb(var(--primary));

    --bs-btn-hover-bg: rgb(var(--primary-shade));
    --bs-btn-hover-border-color: rgb(var(--primary-shade));

    --bs-btn-active-bg: rgb(var(--primary));
    --bs-btn-active-border-color: rgb(var(--primary))
  }

  .btn-secondary {
    --bs-btn-bg: white;
    --bs-btn-color: rgb(var(--primary));
    --bs-btn-border-color: rgb(var(--primary));

    --bs-btn-hover-bg: rgb(var(--primary-shade));
    --bs-btn-hover-border-color: rgb(var(--primary-shade));

    --bs-btn-active-bg: rgb(var(--primary));
    --bs-btn-active-border-color: rgb(var(--primary))
  }

}
